{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 home-container">
        <div class="row h-100">
            <div class="col-lg-4">
                <h1 class="heading-font home-message">
                    Feeling hungry? Why not order now?
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'all_items' %}" class="menu-button btn">View Menu</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}