<div class="collapse navbar-collapse text-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto ul-nav py-0 text-center">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}" id="all-items-link">
                All items
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}?category=burgers" id="burgers-link">
                Burgers
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}?category=chips" id="chips-link">
                Chips
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}?category=chicken" id="chicken-link">
                Chicken
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}?category=fish" id="fish-link">
                Fish
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}?category=pizza" id="pizza-link">
                Pizza
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}?category=kebabs" id="kebabs-link">
                Kebabs
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}?category=subs" id="subs-link">
                Subs
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}?category=sauces" id="sauces-link">
                Sauces
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}?category=drinks" id="drinks-link">
                Drinks
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}?category=side_orders" id="sides-link">
                Side Orders
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white" href="{% url 'all_items' %}?category=meal_deals" id="meal-deal-link">
                Meal Deals
            </a>
        </li>
    </ul>
</div>
        
