<div class="collapse navbar-collapse text-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto ul-nav py-0 text-center">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}" id="all-items-link">
                All items
            </a>
        </li>


        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" data-toggle="dropdown" href="{% url 'all_items' %}" id="all_items-link">
                Food
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="food-link">
                <a href="{% url 'all_items' %}?category=burgers" class="dropdown-item">Burgers</a>
                <a href="{% url 'all_items' %}?category=chicken" class="dropdown-item">Chicken</a>
                <a href="{% url 'all_items' %}?category=chips" class="dropdown-item">Chips</a>
                <a href="{% url 'all_items' %}?category=fish" class="dropdown-item">Fish</a>
                <a href="{% url 'all_items' %}?category=pizza" class="dropdown-item">Pizza</a>
                <a href="{% url 'all_items' %}?category=kebabs" class="dropdown-item">Kebabs</a>
                <a href="{% url 'all_items' %}?category=subs" class="dropdown-item">Subs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" data-toggle="dropdown" href="{% url 'all_items' %}" id="all_items-link">
                Others
            </a>

            <div class="dropdown-menu border-0" data-toggle="dropdown" aria-labelledby="others-link">
                <a href="{% url 'all_items' %}?category=drinks" class="dropdown-item">Drinks</a>
                <a href="{% url 'all_items' %}?category=sauces" class="dropdown-item">Sauces</a>
                <a href="{% url 'all_items' %}?category=side_orders" class="dropdown-item">Side Orders</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-white" href="{% url 'all_items' %}?category=meal_deals" id="meal_deals-link">
                Meal Deals
            </a>
        </li>


    </ul>
</div>
        
