.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid rgb(17, 17, 17);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 3px 0 orangered;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.co-img img{
    height: 100px;
    width: 150px;
    margin: 1px;
    overflow: hidden;
}

.form-control{
    border: 1px solid rgb(17, 17, 17);
    margin-top: 5px;
}

.form-control:hover,
.form-control:active,
.form-control:focus,
.StripeElement--focus,
.StripeElement:hover,
.stripe-style-input:focus,
.stripe-style-input:active{
    box-shadow: 0 0 5px orangered;
    border: 1px solid orangered;
}